$breakpoints: (
  "sm": "screen and (max-width: 400px)",
  "md": "screen and (max-width: 768px)",
  "lg": "screen and (max-width: 1000px)",
  "xl": "screen and (max-width: 1200px)",
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.content {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  table,
  blockquote,
  ul,
  ol,
  pre,
  hr {
    max-width: 42rem;
    margin: 0.6em auto;
    font-size: 1.125rem;
    line-height: 2rem;
    letter-spacing: 0.05em;
  }

  p {
    & + p {
      margin-top: 1.8em;
    }

    code {
      font-style: italic;
      background: #f3f4f6;
      padding-left: 0.4em;
      padding-right: 0.4em;
    }
  }

  a {
    color: #4338ca;
    text-decoration: underline;

    &:hover {
      color: initial;
    }
  }

  h1,
  h2 {
    font-size: 1.6em;
    font-weight: 600;
    margin: 2.4em auto 1.2em;
  }

  h3 {
    font-size: 1.4em;
    font-weight: 600;
    margin: 2em auto 1em;
  }

  table {
    width: 100%;
    margin: 2em auto 2em;
    border-collapse: collapse;

    td,
    th {
      border: 1px solid lightgray;
      padding: 0.4em 0.6em;
    }

    th {
      text-align: center !important;
      font-weight: 600;
      background: #4b5563;
      color: white;
    }

    tr:nth-child(even) td {
      background-color: #f2f2f2;
    }
  }

  ul,
  ol {
    margin-top: 2em;
    margin-bottom: 2em;
    padding-left: 2.2em;

    li {
      margin: 0.8em auto;
    }
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style: decimal-leading-zero;
  }

  blockquote {
    display: block;
    background: #f3f4f6;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1.2em 1.2em 1em 3.4em;
    position: relative;

    /* Borders */
    border-left: 0.4em solid #9ca3af;

    &::before {
      content: "\201C";

      /*Font*/
      font-size: 3.5em;
      font-weight: 600;
      color: #9ca3af;

      /*Positioning*/
      position: absolute;
      left: 0.2em;
      top: 0.6em;
    }

    &::after {
      /*Reset to make sure*/
      content: "";
    }
  }

  pre {
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
    background: #f3f4f6;
    overflow-x: auto;
  }

  hr {
    margin: 3em auto;
  }

  @include mq(md) {
  }
}
